@import '../../variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background: rgba(0, 0, 0, 0.75);

  .modal {
    position: absolute;
    width: 70%;
    max-width: 40rem;
    top: 50%;
    left: 50%;
    padding: 1rem;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    .header {
      margin-bottom: 1rem;
      color: $color-main;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 60%;

      .formInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
      }

      .actions {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        gap: 0.5rem;

        .button,
        .buttonCancel {
          border: 1px solid $color-main;
          cursor: pointer;
          font-size: 1rem;
          margin-bottom: 1rem;
          color: $color-main;
          background-color: $color-main;
          color: white;
          border-radius: 4px;
          padding: 0.2rem 1.5rem;
          line-height: 2rem;

          &:hover {
            color: white;
            background-color: $color-main-dark;
          }
        }

        .buttonCancel {
          background-color: white;
          color: $color-main;
          border: 1px solid transparent;

          &:hover {
            background-color: inherit;
            border: 1px solid $color-main;
            color: $color-main;
          }
        }
      }
    }
  }
}
