@import '../../variables.scss';

.productListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;

  .actions {
    display: flex;
    gap: 0.2rem;
  }
}
